body{
    font-family: "Century Gothic";
    font-size: 14px;
}

#logo{
    width: 530px;
    height: 105px;
    margin-left: 5px;
    position: relative;
    top: 5%;
}

#top-bar{
    width: 100%;
    border-radius: 5px;
}

#bottom-bar{
    width: 100%;
    border-radius: 5px;
}

#side-menue{
    background-image: url('img/sideColumn.png');
    width: 200px;
    float: left;
}

#content-container{
    width: 1000px;
    height: 100%;
    float: left;
    background-color: red;
}

#left {
    float: left;
    padding: 5px;
    width: 100px;
}

#submenu-end{
    width: 100%;
    height: 60px;
    background-image: url('img/headColumn2.png');
}